In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1. Finding mixing data
2. Validate Data 
3. cross check with Domain knowledge

# pandas utility function

In [5]:
# check if there is a null value
pd.isnull(np.nan)

True

In [7]:
pd.isnull(None)

True

In [9]:
pd.isna(np.nan)

True

In [10]:
pd.isna(None)

True

There exist the oposites of it as well

In [11]:
pd.notnull(np.nan)

False

In [12]:
falsy_values = (0, False, None, '', [], {})
any(falsy_values)

False

In [13]:
a = np.array([1, 2, 3, np.nan, np.nan, 4])
a.mean()

nan

In [14]:
a.sum()

nan

There is a value that we have to becarefull, which is called `inf`

In [15]:
pd.isnull(np.inf)

False

In [21]:
pd.isna(np.inf)

False

To check it we have to employ aspecial method called `.isinf`

In [19]:
np.isinf(np.inf)

True

In [22]:
np.isfinite(np.nan)# test if the passing inputs is not in [inf, nan]
np.isfinite(np.inf)

(False, False)

Using isfinite hels up with filter out NaN and inf data.

When we pass series or dataframe to `isna` or (`isif`) will return a boolean mask of the data.

### Droping null values

In [36]:
a = pd.DataFrame([1, 2, 3, np.nan, np.nan, 4],columns=['Value'],)

In [40]:
a

   Value
0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0

In [39]:
a.dropna()

   Value
0    1.0
1    2.0
2    3.0
5    4.0

When using `.dropna()` without specified an axis parameters, it will drop any rows that has NaN or Null value on it.

## Fill a Value 
- introducing `.fillna(<digit>)`: fill any null value the passing digit.
- introducing `.replace({replace_dictionary_type})`

## Dubplicate type
- the `.duplicated()` method will return True if a duplicate is exist, skipping the 'first' value. we can pass `keep='last'` parameter to inverse this
- The `.drop_duplicates()` to drop the one that is a duplicate. pass `keep='False'` will keep the one that is a duplicate dropping the 1st instance of value.
- For data frame, we have to pass `subset=[]` to the method to make sure our rules return the right result

## String methods:
- `str.split('<seperator>',expand=True)` : split the column according to the seperator and use them as new columns
- `str.split(r'<pat>',expand=True)`: split according to Regex patter, we can use `regex=True` parameter to ensure the string will be consider as regex 
- `str.contains('')` :Return boolean Series or Index based on whether a given pattern or regex is contained within a string of a Series or Index.